#Debug files that are unnecessary
*.tlog
*.obj
*.pdb
*.exe
*.gb
*.sav
*.manifest
*.lastbuildstate
*.cache

.\Debug\Emulator\.
.\Debug\InfoFiles\MovesCsv.txt
.\Debug\InfoFiles\TypeMap.txt
'.\Debug\Pokemon Player.exe'
'.\Debug\Pokemon Player.ilk'
'.\Debug\Pokemon Player.pdb'
'.\Pokemon Player\Debug'